<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Untitled Document</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Collapse/dmxBootstrap5Collapse.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.7/dist/tagify.min.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.7/dist/tagify.css" />
  <script src="/dmxAppConnect/dmxTagify/dmxTagify.js" defer></script>
</head>

<body is="dmx-app" id="admin">
  <div is="dmx-browser" id="browser1"></div>
  <dmx-notifications id="notifies1"></dmx-notifications>
  <header class="text-light fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <button id="btnShowSidebar" class="btn d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas1"><i class="fas fa-bars fa-lg"></i></button>
            <h1 class="text-muted">Boutique.</h1>
            <button id="btnLogout" class="btn">&nbsp;<i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;Logout</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div is="dmx-view" id="content">
      <%- await include(content, locals); %>
    </div>
  </main>
  <div class="offcanvas offcanvas-start text-light border-0" id="offcanvas1" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset  d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
            <div class="navbar-nav flex-column" dmx-on:click="offcanvas1.hide()">
              <a class="nav-item nav-link active" href="/dashboard" internal="true">Dashboard</a>
              <a class="nav-item nav-link" href="/dashboard/categories" internal="true">Categories</a>
              <a class="nav-item nav-link" href="/dashboard/products" internal="true">Products</a>
              <a class="nav-item nav-link" href="/dashboard/customers" internal="true">Customers</a>
              <a class="nav-item nav-link" href="/dashboard/orders" internal="true">Orders</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>